name: PlatformIO CI

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - senseBox-bike-atrai-v2
          - senseBox-bike-nancy

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run -d ${{ matrix.project }}

      - name: Create OTA update file
        run: |
          git clone https://github.com/arduino-libraries/ArduinoIoTCloud.git
          pip install crccheck
          cd ArduinoIoTCloud/extras/tools

          # Encode firmware
          python3 lzss.py --encode \
            ${{ github.workspace }}/${{ matrix.project }}/.pio/build/sensebox_mcu_esp32s2/firmware.bin \
            ${{ runner.temp }}/firmware.bin.lzss

          # Convert to OTA format
          python3 bin2ota.py ESP32 \
            ${{ runner.temp }}/firmware.bin.lzss \
            ${{ runner.temp }}/firmware.ota

          # Move output files
          mkdir -p ${{ github.workspace }}/${{ matrix.project }}/build/sensebox_mcu_esp32s2
          mv ${{ runner.temp }}/firmware.ota \
            ${{ github.workspace }}/${{ matrix.project }}/build/sensebox_mcu_esp32s2/${{ matrix.project }}.bin.ota
          mv \
            ${{ github.workspace }}/${{ matrix.project }}/.pio/build/sensebox_mcu_esp32s2/firmware.bin \
            ${{ github.workspace }}/${{ matrix.project }}/build/sensebox_mcu_esp32s2/${{ matrix.project }}.bin

      - name: Export binaries as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.project }}-artifacts
          path: ${{ github.workspace }}/${{ matrix.project }}/build

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Firmware Files
        uses: actions/download-artifact@v4
        with:
          path: release

      - name: Release Firmware
        uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: "release/**/*.bin, release/**/*.ota"
          allowUpdates: true
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
