name: Compile Sketch

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches:
      - main

jobs:
  compile-sketch:
    runs-on: ubuntu-latest

    env:
      SKETCHES_REPORTS_PATH: sketches-reports

    steps:
      # This step makes the contents of the repository available to the workflow
      - name: Checkout repository
        uses: actions/checkout@v4

      # For more information: https://github.com/arduino/compile-sketches#readme
      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: esp32:esp32:sensebox_mcu_esp32s2
          platforms: |
            - name: esp32:esp32
              source-url: https://espressif.github.io/arduino-esp32/package_esp32_index.json
          sketch-paths: |
            - ./senseBox-bike-atrai
          libraries: |
            - name: SenseBoxBLE
            - name: "Adafruit HDC1000 Library"
            - name: sensirion-sps
            - name: "Adafruit MPU6050"
            - name: NewPing
            - name: "STM32duino VL53L8CX"
            - name: "Adafruit GFX Library"
            - name: "Adafruit SSD1306"
            - source-url: https://github.com/felixerdy/QRCodeGenerator.git
            - name: "Adafruit MAX1704X"
          enable-deltas-report: true
          sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}

      - name: Save sketches report as workflow artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: ${{ env.SKETCHES_REPORTS_PATH }}
          # name: sketches-report-atrai
