name: Compile Sketch

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches:
      - main

jobs:
  compile-sketch:
    name: ${{ matrix.board.fqbn }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        board:
          # senseBox MCU
          - fqbn: sensebox:samd:sb:power=on
            platforms: |
              - name: arduino:samd
              - name: sensebox:samd
                source-url: https://raw.githubusercontent.com/mariopesch/senseBoxMCU-core/master/package_sensebox_index.json
            sketch-paths: |
              - ./senseBox-bike
            artifact-name-suffix: sensebox-samd-sb
          # senseBox MCU S2 (ESP32)
          - fqbn: esp32:esp32:sensebox_mcu_esp32s2
            platforms: |
              - name: esp32:esp32
                source-url: https://espressif.github.io/arduino-esp32/package_esp32_index.json
            sketch-paths: |
              - ./senseBox-bike-atrai
              - ./senseBox-bike-mcus2
            artifact-name-suffix: esp32.esp32.sensebox_mcu_esp32s2

    steps:
      # This step makes the contents of the repository available to the workflow
      - name: Checkout repository
        uses: actions/checkout@v4

      # For more information: https://github.com/arduino/compile-sketches#readme
      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          sketch-paths: ${{ matrix.board.sketch-paths }}
          libraries: |
            - name: SenseBoxBLE
            - name: "Adafruit HDC1000 Library"
            - name: sensirion-sps
            - name: "Adafruit MPU6050"
            - name: NewPing
            - name: "STM32duino VL53L8CX"
            - name: "Adafruit GFX Library"
            - name: "Adafruit SSD1306"
            - source-url: https://github.com/felixerdy/QRCodeGenerator.git
            - name: "Adafruit MAX1704X"
            - name: SDConfig
            - name: SD
            - name: Ethernet
            - name: NeoGPS
            - name: WiFi101
            - name: TinyGPSPlus
            - name: OneWire
            - name: DallasTemperature
          enable-deltas-report: true
          enable-warnings-report: true
          cli-compile-flags: |
            - --export-binaries

      - name: Bundle binaries
        run: |
          mkdir -p ${{ github.workspace }}/binaries/${{ matrix.board.artifact-name-suffix }}
          # iterate over sketch-paths and move the compiled binaries to the binaries directory
          for sketch_path in ${{ matrix.board.sketch-paths }}; do
            mv ${{ github.workspace }}/${sketch_path}/build/${{ matrix.board.artifact-name-suffix }} ${{ github.workspace }}/binaries/${{ matrix.board.artifact-name-suffix }}/${sketch_path}
          done

      - name: Export binaries as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.board.artifact-name-suffix }}
          path: ${{ github.workspace }}/binaries/${{ matrix.board.artifact-name-suffix }}
